*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Volkhov', Georgia, serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

ul{
    list-style: none;
}

img{
    max-width: 100px;
}